<% form_for [:admin, @region, set_up_shippping_method(@shipping_method)],
			:html => { :class => 'gt-form' } do |form| %>
	<label for="name">Method *:</label>
	<%= form.text_field :name, :size => 20 %><br/><br/>
	<%= form.check_box :default_selection %> Default Selection (initial option user selects)<br/><br/>
	<h2>Weight Range Shipping</h2>
	<p><em>Start with 0</em></p>
  <div class="gt-table-controls clearfix">
  	<table class="gt-list-table">
  		<thead>
  		  <tr>
    			<th>Low Weight Total</th>
    			<th>Rate</th>
  		  </tr>
    	</thead>
	    <% form.fields_for :flat_rate_shippings do |flat_rate_form| %>
  	    <tr <%=hide_unless_first_new_object(flat_rate_form.object)%>>
  	      <td>
  	        <%= flat_rate_form.text_field :weight_low, :size => '10' %>lbs
  	      </td>
  	      <td>
  	        $<%= flat_rate_form.text_field :flat_rate, :size => '10' %>
  	      </td>
  	      <td>
  	        <% unless flat_rate_form.object.new_record? %>
              <%= flat_rate_form.check_box '_destroy' %>
              <%= flat_rate_form.label '_destroy', 'Remove' %>
            <% else %>
              <%= add_another_link?(flat_rate_form.object, 'flat rate range') %>
            <% end %>
          </td>
  	    </tr>
  	  <% end %>
  	</table>
	  <%= image_submit_tag 'gt/btn-save.jpg' %>
	</div>
<% end %>
