
<%= render :partial => 'navigation' %>
<h3><%= check_box_tag :ups, true, false %>UPS</h3>
<hr/>


<h3>Regions</h3>
<h3>Flat Rate</h3>
<br>
<h4><%= check_box_tag :flat_rate, true, true %>Per Item</h4>
<table>
	<tr>
		<th>Rate</th>
		<th>Item Low</th>
		<th>Item High</th>
	</tr>
<% @shipping_rates.each do |shipping_rate| %>
	<tr>
		<td>$<%= shipping_rate.rate %></td>
		<td><%= shipping_rate.item_low %></td>
		<td><%= shipping_rate.item_high %></td>
	</tr>
<% end %>
</table>

<hr/>
