
<% if product.product_options.size > 0 %>
	<hr/>
	<h2>Current Options for this Product:</h2><br/>
	<div class="gt-table-controls clearfix">
		<table class="gt-list-table" id="quantity_discounts">
		  <tr>
			<th>Name</th>
			<th>Option Selections</th>
			<th>Selection Type</th>
			<th>Description</th>
		  </tr>

		<% for option in product.product_options %>
		 <tr>
			<td id="<%= dom_id(option, 'name')%>"><%= option.name %></td>
			<td>
				<%= option.product_option_selections.collect { |x| x.name + ', ' } %>
			</td>
			<td><%= ProductOption.to_text(option.selection_type) %></td>
			<td>
				<%= option.description %>
			</td>
			<td><%= link_to_remote "Edit",  
								:with => "'product_option_id=' + #{option.id}",
								:method => 'get',
								:url => { :action => 'edit',
										  :controller => 'product_options',
										  :id => product.id } %>
			</td>
		    <td><%= link_to_remote 'Remove', 
								:method => :delete,
								:confirm => "Remove the option #{option.name}?", 
								:url => admin_product_product_option_path(product, option) %></td>
		 </tr>
		<% end %>

		</table>
	</div>
<% end %>
    