<% if product_option.product_option_selections.size > 0 %>
	<hr class="dotted_border">
	<h3>Current Selections:</h3><br/>
	<!-- May not be the most efficient, updating a single row in a table was acting odd -->
	<div class="gt-table-controls clearfix">
		<table class="gt-list-table" id="quantity_discounts">
	  <tr>
		<th>Selection</th>
		<th>Price Adjustment</th>
		<th>Weight Adjustment</th>
		<th>SKU Adjustment</th>
	  </tr>

	<% for selection in product_option.product_option_selections %>
	 <tr>
		<td id="<%= dom_id(selection, 'name')%>"><%= selection.name %></td>
		<td id="<%= dom_id(selection, 'id')%>">
			<%= selection.price_adjustment %>
			<input type="hidden" name="selection_id" value="<%= selection.id %>"/>
			<input type="hidden" name="product_id" value="<%= product.id %>"/>
			<input type="hidden" name="product_option_id" value="<%= product_option.id %>"/>
		</td>
		<td><%= selection.weight_adjustment %></td>
		<td>
			<%= selection.sku_adjustment %>
		</td>
		<td><%= link_to_remote "Edit",
							:with => "'product_option_id=' + #{product_option.id} + '&product_id=' + #{product.id}",
							:method => 'get',
							:url => { :action => 'edit_option_selection',
									  :controller => 'product_options',
									  :id => selection.id } %>
		</td>
	    <td><%= link_to_remote 'Remove', :submit => dom_id(selection, 'id'),
							:confirm => "Are you sure you want to remove the option #{selection.name}",
							:url => { :action => 'remove_option_selection' } %></td>
	 </tr>
	<% end %>

	</table>
	</div>
<% end %>

