<% render :partial => 'sidebar' %>
<%= javascript('views/admin/orders/show') %>

<div id='logo' style='display:none'>
	<img src='/images/greenlabel-logo.gif' />
</div>
<div id="p7TP1" class="p7TPpanel">

  <div class="p7TPwrapper">
    <div class="p7TP_tabs print-hide">
      <div id="p7tpb1_1" class="down print-hide"><a class="down" href="javascript:;">Details</a></div>
      <br class="p7TPclear" />
    </div>
    <div class="p7TPcontent">
      <div id="p7tpc1_1">
	
  <p>
	<div style="float:left">
		<label for="delivery_number"><b>Order Number: </b></label>
		<%= @order.order_number %><br/>
		<label for="delivery_number"><b>Order State: </b></label>
		<%= @order.state %><br/>
	</div>
	<div style="float:right">
		<b><%= nice_date(@order.created_at) %></b><br/>
		<%= @order.created_at.hour.to_s + ':' + @order.created_at.min.to_s + '.' + @order.created_at.sec.to_s %>
	</div>
	<div style="clear:both"></div>
	<hr/>
	<div style="float:left">
		<label for="delivery_to_full_name"><b>Name: </b></label>
		<%= @order.full_name %><br/>
		<span class='print-hide'>
			<label for="delivery_to_full_name"><b>Business: </b></label>
			<%= @order.business %><br/>
			<label for="delivery_to_email"><b>Email: </b></label>
			<%= @order.email %><br/>
			<label for="delivery_to_full_name"><b>Phone Number: </b></label>
			<%= @order.phone_number %>
		</span>
	</div>
	<div style="float:right">
		<% if @order.order_type == OrderType::EBAY %>
			<label for="delivery_to_full_name"><b>Buyer Id: </b></label>
			<%= @order.ebay_auction_id %><br/>
			<label for="delivery_to_full_name"><b>Item Number: </b></label>
			<%= @order.ebay_item_number %><br/>
		<% end %>
	</div>
	<div style="clear:both"></div>
	<hr/>
	<div style="float:left">
		<b class='print-hide'>Billing Address</b><br/>
		<label class='print-hide' for="address1"></label>
		<% if @order.billing_address %>
			<span class='print-hide'>
				<%= @order.billing_address.address_1 %><br/>
				<%= @order.billing_address.address_2 -%>
				<%= content_tag('br/') unless @order.billing_address.address_2.blank? %>
				<%= @order.billing_address.city %>, 
				<%= @order.billing_address.state %>&nbsp;
				<%= @order.billing_address.postal_code %><br/>
				<%= @order.billing_address.country -%>
			</span>
		<% end %>
	</div>
	<div style="float:right" id='shipping-address'>
		<b>Shipping Address</b><br/>
		<label for="address1"></label>
		<% if @order.shipping_address %>
			<%= @order.shipping_address.address_1 %><br/>
			<%= @order.shipping_address.address_2 -%>
			<%= content_tag('br/') unless @order.shipping_address.address_2.blank? %>
			<%= @order.shipping_address.city %>, 
			<%= @order.shipping_address.state %>&nbsp;
			<%= @order.shipping_address.postal_code %><br/>
			<%= @order.shipping_address.country -%>
		<% end %>
	</div>
	
	<div style="clear:both"></div>
	<hr/>
	<%= render :partial => "order_items" %>
	<br/>
	<label><b>Shipping Method:</b></label>	
	<span><%= @order.shipping_method %></span>
	<br/>
	<%= render :partial => "order_totals" %>
	<div id="order_transactions">
		<%= render :partial => "order_transactions" %>
	</div>
		
	<hr class='print-hide '/>
	<label class='print-hide' for="admin_notes">Notes:</label><br/>
	<span class='print-hide'><%= @order.admin_notes %></span><br/><br/>
	 </p>
	<hr/>
	
	<div id='post_authorize'>
		<%= render :partial => 'postauthorize', 
				   :locals => { :order => @order } %>
	</div>
	<div style="clear:both"></div>

	<%= link_to image_tag('gt/btn-edit.jpg'), edit_admin_order_path(@order) %>
	
      </div>
    </div>
  </div>
  <!--[if lte IE 6]>
		<style type="text/css">.p7TPpanel div,.p7TPpanel a{zoom:100%;}.p7TP_tabs a{white-space:nowrap;}</style>
	<![endif]-->
  <!--[if IE 7]>
		<style>.p7TPpanel div{zoom:100%;}</style>
	<![endif]-->
</div>
