
  <p>
	<label for="name">Store Name *:</label>
	<%= text_field :store, :storename, :size => 20 %><br/>
	<hr/>
	<label for="address">Address *:</label>
	<%= text_field :store,:address, :size =>20 %><br/>
	<label for="city">City *:</label>
	<%= text_field :store, :city, :size =>20 %><br/>
	<label for="state">State *:</label>
	<%= text_field :store, :state, :size =>20 %><br/>
	<label for="zip">Zip*:</label>
	<%= text_field :store, :zip, :size =>20 %><br/>
    <label for="country">Country *:</label>
	<%= text_field :store, :country, :size =>20 %><br/>
	<hr/>
	<label for="hours">Hours *:</label>
	<%= text_field :store, :hours, :size =>20 %><br/>
	<label for="url">Url *:</label>
	<%= text_field  :store, :url, :size =>20 %><br/>
	<label for="phone">Phone *:</label>
	<%= text_field  :store, :phone, :size =>20 %><br/>
	<hr/>
	<label for="lat">Latitude:</label>
	<%= text_field  :store, :lat, :size =>20 %><br/>
	<label for="lng">Longitude:</label>
	<%= text_field  :store, :lng, :size =>20 %><br/>
	
	<br/>
	<br/><br/>
   
 