<% render :partial => 'sidebar' %>	

<h1>Listing Stores</h1>
<div class="gt-table-controls clearfix">
	<table class="gt-list-table">
	  <tr>
		<th>Store Name</th>
		<th>Address</th>
		<th>City</th>
	        <th>State</th>
	        <th>Zip</th>
	  </tr>
  
	<% for store in @stores %>
	 <tr>
		<td><%= store.storename %></td>
		<td><%= store.address %>
		<td><%= store.city %>
		<td><%= store.state %>

	    <td><%= link_to 'Show', admin_store_path(store) %></td>
	    <td><%= link_to 'Edit', edit_admin_store_path(store) %></td>
	    <td><%= link_to 'Remove', admin_store_path(store), :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>
</div>

<br />
<hr>
<%= will_paginate(@stores)%>
<hr>

