<div id="apply_promo_code">
	<%= hidden_field_tag 'subtotal', @sub_total %>
	<%= text_field_tag 'order[promo_code]', "",
					   :size => 15,
					   :id => 'promo_text_field' %>
	<%= link_to_remote "<span> Apply Promo Code</span>",
						{ :submit => 'apply_promo_code',
						  :url => promo_codes_path,
						  :method => :post }
						 %>
	<p id="promo_code_message"><%= @promo_code_message %></p>
	<b><p id="promo_code_note"><%= @promo_code_note %></p></b>
</div>