<%= error_messages_for :promo_code %>

<% form_for [:admin, promo_code],
          :html => { :class => 'gt-form' } do |form| %>

  <label for="name">Name <span class="required-field">*</span>: </label>
  <%= form.text_field :name, :size => 20,
            :class => 'gt-form-text', :focus => true %><br/>
  <label for="code">Code <span class="required-field">*</span>:</label>
  <%= form.text_field :code, :size => 10, :class => 'gt-form-text'  %>
   <label for="minimum_ammount">Minimum Order Amount: $</label>
  <%= form.text_field :minimum_order_amount, :size => 10, :class => 'gt-form-text' %>
  <hr/>
  <label for="dollar_discount">Dollar Discount: $</label>
  <%= form.text_field :dollar_discount, :size => 10,
            :class => 'gt-form-text'  %>
  <label for="percent_discount">Percent Discount: </label>
  <%= form.text_field :percent_discount, :size => 10,
            :class => 'gt-form-text'  %>
  <hr/>
  <label for="free_shipping">Free Shipping: </label>
  <%= form.check_box :free_shipping, :class => 'gt-form-checkbox' %>
  <label for="free_shipping_note">Free Shipping Note: </label>
  <%= form.text_area :note, :rows => 5,
             :cols => 80, :class => 'gt-form-textarea' %>
  <br/><br/>
  <%= image_submit_tag 'gt/btn-save.jpg' %> or <%= link_to 'Back', admin_promo_codes_path %>

<% end %>
