
<h2>Create New Category</h2>
<% form_for(:category, :url => categories_path) do |f| %>
	<br/><label>Parent Category:</label>
	<%= select_tag 'parent_category',
			options_for_select(nested_set_options_for_select(Category.root) ) %>
		
	<br/><label for="name">Category Name:</label>
	<%= text_field :category, :name, :size => 20 %>
	<br/>
  <%= check_box :category, :active, :checked => true  %>
  <label for="active">Active</label>
  <br/>
	<label>Description:</label><br/> <%= text_area :category, :description, :cols => 70, :rows => 10 %>
	<br/><br/>
	<%= button_to_remote "Create Category",
						:submit => 'category_new',
						:update => 'category_new',
	 					:url => { :action => 'add_category' } %>
<% end %>
