<% categories.each do |category| %>
<%= category_li(category) %>
    <p class="category_title <%= cycle "even", "odd"%>"><%=link_to(category.name, admin_category_path(category)) %>|<%= link_to('edit', edit_admin_category_path(category), :class => 'edit') %></p>

    <% unless category.leaf? %>
      <ul id="<%= category.id %>">
        <%= render 'category_branch', :categories => category.children %>
      </ul>
    <% end %>
  </li>
<% end %>
