<div id="category-drop-down">
  <br/><h2>Category:</h2>
  <select id="category_select" name="category_ids[]">
    <% for category in @categories %>
      <% if category.level == 1 %>
	<option value="<%= category.id %>" <%= disable(category, @product) %>>
          <%= category.name %>
        </option>
	<% if category.children.size > 0 %>
	  <% category.children.each do |subcat| %>
	    <option value="<%= subcat.id %>" <%= disable(subcat, @product) %>>
              &nbsp;&nbsp;&nbsp;&nbsp;<%= subcat.name %>
            </option>
	  <% end %>
	<% end %>
      <% end %>
    <% end %>
  </select>
  <%= link_to "Add Category", admin_product_path(@product), :id => 'add_category' %>
</div>
<br/><br/>

<div id="category_list">
  <% if @product.categories.length > 0 %>
    <%= render 'category_list', :product_id => @product.id, :categories => @product.categories %>
  <% end %>
</div>

