<h2>Current Categories</h2>
<br/>

<div class="gt-table-controls clearfix">
  <%= hidden_field_tag 'category_ids', @product.category_ids.inspect %>
  <table class="gt-list-table">
    <thead>
      <tr>
      <th>Name</th>
      <th>ID</th>
      </tr>
    </thead>
    <tbody>
      <% categories.each do |category| %>
        <tr>
          <td id="<%= dom_id(category, 'name')%>"><%= category.name %></td>
          <td id="<%= dom_id(category, 'id')%>">
            <%= category.id %>
          </td>
          <td>
            <%= link_to 'Remove', admin_product_path(@product), :class => 'remove_category',
                :confirm => "Are you sure you want to remove the product from #{category.name}" %>
            <input type="hidden" name="category_id" value="<%= category.id %>"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
