

<div id="category-drop-down">
	<br/><h2>Category:</h2>
	<select id="category_select" name="category_ids[]">
	<% for category in @categories %>
		<% if category.level == 1 %>
		  <option value="<%= category.id %>" <%= 'disabled="disabled"' if @product.category_ids.include?(category.id) %>><%= category.name %></option>
		 <% if category.children.size > 0 %>
			<% category.children.each { |subcat| %>
		  		<option value="<%= subcat.id %>" <%= 'disabled="disabled"' if @product.category_ids.include?(subcat.id) %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= subcat.name %></option>
		    <% } %>
		<% end %>
		<% end %>
	<% end %>
	</select>
	<%= link_to "Add Category", admin_product_path(@product), :id => 'add_category' %>
        <%= hidden_field_tag 'category_ids', @product.category_ids.inspect %>
</div>
<br/><br/>

<div id="category_list">
  <% if @product.categories.length > 0 %>
    <%= render 'category_list', :product_id => @product.id, :categories => @product.categories %>
  <% end %>
</div>

