<h1>Listing Variants</h1>
<div class="gt-table-controls clearfix">
	<table class="gt-list-table">
		<thead>
		  <tr>
		    <% product.product_options.each do |option| %>
		      <th> Option: <%= option.name %></th>
		    <% end %>
			<th>Inventory</th>
			<th>SKU</th>
			<th>Price</th>
			<th>Weight</th>
		  </tr>
  	</thead>
		<tbody>
			<% count = 0 %>
		  <% variants.each do |variant| %>
			  <tr <%= "class='even'" if (count % 2) == 0 %>>
			    <% variant.product_option_selections.each do |selection| %>
			      <td><%= selection.name %></td>
			    <% end %>
				  <td><%= variant.inventory %></td>
				  <td><%= variant.sku %></td>
				  <td><%= variant.price %></td>
				  <td><%= variant.weight %></td>
			  </tr>
			  <% count += 1 %>
  		<% end %>
  	</tbody>
	</table>
</div>