<% product.product_images.each do |image| %>
  <hr>
  <h3>Regular Size:</h3>
  <br/>
  <div id="<%= dom_id(image, 'id') %>">
    <%= image_tag image.filename.url, :name => "image_id" %>
    <%= link_to 'Change Image', '#', :class => "edit-product-image" %>
    <%= link_to 'Remove Image', admin_product_product_image_path(product, image), 
        :class => "destroy-product-image" %>
    <div class='change-image' style="display:none">
      </br>
      <%= render '/admin/products/images/change_image', :product => product, :image => image %>
    </div>
  </div>
  <div>
    <% if image.product_image_thumbnail %>
      <%= render '/admin/products/images/image_thumbnail_list', 
                 :image => image, :thumbnail => image.product_image_thumbnail %>
    <% else %>
      <%= render '/admin/products/images/image_thumbnail_form', 
                :image => image, :thumbnail => image.build_product_image_thumbnail %>
    <% end %>
  </div>
  <div>
    <% if image.product_large_image %>
      <%= render '/admin/products/images/image_large_list', 
                 :image => image, :large_image => image.product_large_image %>
    <% else %>
      <%= render '/admin/products/images/image_large_form', 
                 :image => image, :large_image => image.build_product_large_image %>
    <% end %>
  </div>
  
<% end %>
