<%= render 'sidebar' %>
<%= render 'breadcrumbs' %>
<h1>Shipping Methods</h1>
<%= error_messages_for :shipping_region %>
<%= error_messages_for :shipping_method %>
<p>Shipping methods are defined by creating a Region (i.e. US) and a Method (i.e. UPS)
  </p>
<% @regions.each do |region| %>
<div class="gt-table-controls clearfix">
  <table class="gt-list-table">
    <body>
     <tr>
      <th class="region"><%= region.name %></th>
      <th class="edit"><%= link_to 'Edit Region', edit_admin_region_path(region) %></th>
     </tr>
     
    <% if region.shipping_methods.length > 0 %>
      <tr class='even'>
        <th>Shipping Method</th>
        <th>Base Price</th>
        <th>Per Item</th>
        <th>Default</th>
        <th colspan="2">Action</th>
      </tr>
      <% region.shipping_methods.each do |shipping_method| %>
        <tr class='even'>
          <td><%= shipping_method.name %>
          <%# if shipping_method.flat_rate_shipping %>
            <td><%#= number_to_currency(shipping_method.flat_rate_shipping.base_price)  %>
            <td><%#= number_to_currency(shipping_method.flat_rate_shipping.cost_per_item) %>
          <%# end %>
          <td><%= shipping_method.default_selection %>
            <td><%= link_to 'Edit',
            edit_admin_region_shipping_method_path(region, shipping_method) %></td>
            <td><%= link_to 'Remove',
            admin_region_shipping_method_path(region, shipping_method),
            :method => :delete,
            :confirm => 'You wanna remove the shipping method?' %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan="6" class='blank'>
        <%= link_to 'Add Shipping Method',
              new_admin_region_shipping_method_path(region) %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<% end %>




