<h1><%= link_to 'Shop', categories_path %> : <%= @category.name %></h1>
<p><%= @category.description %></p>
<br/>
<% if @categories.any? %>
	<%= render :partial => 'categories', :categories => @categories %>
<% else %>
  <%= render :partial => 'products/products' %>
<% end %>