

	<label for="name">Name *:</label>
	<%= form.text_field :name, :size => 20 %><br/>
	<label for="zipcode">Zipcode *:</label>
	<%= form.text_field :zipcode, :size => 5 %><br/>
	<label for="active">Active *:</label>
	<%= form.check_box :active %><br/>
	<hr/>
	<label for="shipping_type">Shipping Type *:</label>
	<%= form.select :shipping_type || 1, ShippingType::VENDOR_SHIPPING_TYPES.invert %><br/>
	<label for="active">Drop-Ship *:</label>
	<%= form.check_box :drop_ship %><br/>
	<label for="active">Drop-Ship Fee *: $</label>
	<!-- Change field to drop_ship_fee -->
	<%= form.text_field :shipping, :size =>20 %><br/>
	<hr/>
	<label for="description">Description:</label>
	<%= form.text_area :description, :rows => 10 %><br/>
	<hr/>
	<label for="admin_notes">Admin Notes:</label>
	<%= form.text_area :admin_notes, :rows => 10 %><br/>

	<hr/>

	<br/>
	<br/><br/>
