<% count = 1 %>
<% products.each do |product| %>
	<div class="smallroundbox <%= 'boxright' if (count % 2 == 0) %>">
	  <div class="boxcontainer">
	    <div class="photobox">
		 	  <%= link_to image_tag(product.product_image(true)),
		                category_product_path(product.category, product) %>
		  </div> <!-- /photobox -->

		<div class="infobox">
		  <h4><%= link_to product.name,
		           category_product_path(product.category, product) %></h4>
		  <br/><%= number_to_currency(product.price) %><br/><br/><br/><br/>
		  <% if @is_wholesaler %>
        	Wholesale: <h3><%= number_to_currency(product.wholesale_price) %></h3>
      	  <% end %>
		  <%= link_to 'view >>',
	           category_product_path(product.category, product) %>
		</div> <!-- /infobox -->
		<br class="clear" />
	  </div> <!-- smallroundbox -->
	  <div class="smallroundboxbottom">&nbsp;</div>
	</div> <!-- smallroundbox -->
	<% count += 1 %>
<% end %>

