<%= stylesheet('categories') %>
<div class="box1"><div class="box2"><div class="box3"><div class="box4 clearfix">
<h1><%= link_to 'Shop', categories_path %> : <%= bread_crumb(@category) %> <%= @category.name %> </h1>
	<% unless @category.description.nil? || @category.description.empty? %>
		<p><%= @category.description  %></p>
	<% end %>
	<%= render :partial => 'category_image', :locals => { :category => @category } %>
	<% count = 0 %>
	<% @category.active_children.each do |subcat| %>
		<div class='category-shirt'>
			<h2><%= link_to subcat.name, category_products_path(subcat.id) %></h2>
	 		<%= link_to image_tag(subcat.category_image), 	 
	           		category_path(subcat) unless subcat.category_image.blank? %>
			<%#= "<br/>" if count % 3 == 0 %>
		</div>
		<% count = count + 1 %>
	<% end %>
	<%= will_paginate @products %>
	<%= render :partial => 'products', :products => @products %>
	<div style="clear:both"/>
	<%= will_paginate @products %>
</div></div></div></div>


